<div data-role="header">
  <h1>FAQs - Answers</h1>
  <a href="javascript:history.back()" class = "ui-btn-left" data-role="button">Back</a>
</div>
 
<div data-role="content">

        <p id="notice"><%= notice %></p>
        
        <p>
          <strong><%= @faq.question %></strong>
        </p>
        
        <p>
          <%= @faq.answer %>
        </p>
</div>