<div data-role="content">
    <div class="landingIcons" style="text-align: center;">
        <a href="/policies"><img src="/assets/aviva_logo.png" width="100" height="100"></a><br/>
            My Policy <br/>
            <a href="/welcome/nearestType" > <img src="/assets/google-maps-icon.png" width="100" height="100"></a><br/>
            Where's my nearest?<br/>
          <a href="/faqs"> <img src="/assets/icon_question1.png" width="100" height="100"></a><br/>
             FAQ's
         </div>
</div>