<!DOCTYPE html>
<html>
<head>
  <title>Saudi</title>

   <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
     <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    		
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  

</head>
<body>

<%= yield %>

</body>
</html>
