<div data-role="header">
  <h1>Policy Information</h1>
  <a href="javascript:history.back()" class = "ui-btn-left" data-role="button">Back</a>
</div>
 
<div data-role="content">
  
PAGE STUCTURE TBC

</div>